
<section>
  <div class="main">
      <h1>Let's listen to your favorite music</h1>
      <h1>Listen to everyone's favorite music</h1>
      <div class="main-list">
        <ul style="list-style-type: none">
          <li>
            <%= link_to("曲を紹介", "upload/new") %>
          </li>
          <li>
            <%= link_to("一覧を見る", "#") %>
          </li>

        </ul>
      </div>
  </div>
</section>
